doctype html
html
  head
    title Gestão de Alunos (DAW2020)
    link(rel="icon", href="/images/student.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://mdbootstrap.com/live/_doc/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://mdbootstrap.com/live/_doc/css/mdb.min.css')
    script(type='text/javascript' src='http://mdbootstrap.com/live/_doc/js/jquery.min.js')
    script(type='text/javascript' src='http://mdbootstrap.com/live/_doc/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/utils.js')

  body
    block content


